KEY=change-me
SECRET=change-me
PUBLIC_URL=http://127.0.0.1:8055

ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=change-me
ADMIN_TOKEN=change-me

DB_CLIENT=sqlite3
DB_FILENAME=/directus/database/data.db

WEBSOCKETS_ENABLED=true
