NEXT_PUBLIC_DIRECTUS_URL=http://127.0.0.1:8055
# 如果你把内容权限开放给 Public，这个可以留空
DIRECTUS_STATIC_TOKEN=
# 如果暂时不配 Public 权限，也可以直接让 Next 服务端用管理员账号读取
DIRECTUS_ADMIN_EMAIL=admin@example.com
DIRECTUS_ADMIN_PASSWORD=
